In [1]:
import pandas as pd
import numpy as np
import os,sys
import glob
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')
import gc

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
path = os.getcwd()
files = glob.glob(os.path.join(path,"takehome","takehome","data","beijing_2017*","*csv"))

In [5]:
df = pd.DataFrame()
for f in files:
    try:
        if df.empty:
            df = pd.read_csv(f)
        else:
            df = pd.concat([df,pd.read_csv(f)])
    except Exception as e:
        print (f"Error reading {f}. Message is: {e}")

In [6]:
df['Datetime'] = pd.to_datetime(df['date'],format='%Y%m%d')+pd.to_timedelta(df['hour'].astype(int), unit='H')
df = df.set_index('Datetime')
df = df.drop(columns=['date','hour'])

In [8]:
#Question: Do we need to remove all pollutants with suffix '_24h'?
pollutant = set(df.type)
pollutant.remove('AQI')
pollutant = [p for p in pollutant if '24h' not in p]
df = df.loc[df['type'].isin(pollutant)]

In [9]:
#build a model for '万柳' first
subset = df.loc[:,['type','万柳']]
subset.sort_values(by = ['Datetime'])
subset = subset.pivot_table(values='万柳', index=[df.index], columns='type').rename_axis(None,axis=1).reset_index().set_index('Datetime')

In [10]:
subset

                      CO    NO2     O3   PM10  PM2.5  SO2
Datetime
2017-01-01 22:00:00  7.5  187.0    6.0  518.0  468.0  7.0
2017-01-01 23:00:00  8.6  186.0    7.0  529.0  459.0  8.0
2017-01-02 00:00:00  8.2  179.0    7.0  500.0  441.0  7.0
2017-01-02 01:00:00  8.4  181.0    8.0  523.0  445.0  8.0
2017-01-02 02:00:00  8.5  181.0    7.0  504.0  440.0  8.0
...                  ...    ...    ...    ...    ...  ...
2017-04-29 19:00:00  0.3   26.0  115.0   84.0   47.0  3.0
2017-04-29 20:00:00  0.3   31.0   95.0  116.0   43.0  4.0
2017-04-29 21:00:00  0.4   50.0   71.0  137.0   51.0  6.0
2017-04-29 22:00:00  0.5   63.0   60.0  158.0   54.0  8.0
2017-04-29 23:00:00  0.6   95.0   28.0  179.0   59.0  7.0

[2547 rows x 6 columns]

In [1]:
subset

NameError: name 'subset' is not defined